@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800;900&display=swap');

html{
    height: 100%;
    width: 100%;
}

*{outline: none;}

body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: black;
}

#bg{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

button{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

div[class="menu"]{
    height: 60px;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

div[class="menu"] > a > button{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: 16px;
    margin: 5px;
} 

div[class="menu"] > a[class="logo"] > button{
    margin-left: 20px;
    font-size: 22px;
    letter-spacing: 3px;
}

div[class="menu"] > a[class="default"]:nth-child(2){
    margin-left: auto;
}

div[class="menu"] > a[class="default"]:last-child{
    margin-right: 20px;
}

div[id="space"]{
    height: 65%;
    width: 100%;
}

.main{
    width: 90%;
    min-width: 300px;
    height: auto;
    min-height: 150px;
    margin-left: 3%;
    margin-right: auto;
    margin-top: auto;
}

.main > h1{
    margin-bottom: 0;
}

.main > p{
    font-size: 18px;
}

.main > button{
    border: 2px solid white;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    transition: background-color 0.2s, color 0.3s;
}

.main > button:hover{
    border: 2px solid white;
    border-radius: 4px;
    background-color: white;
    color: black;
    padding: 10px 25px;
    font-size: 18px;
}

.slider{
    height: 120px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.slider > button{
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    color: rgba( 255, 255, 255, 0.702 );
    border: 0;
}

@media only screen and (max-width: 450px){
    .slider > button{
        font-size: 15px;
        padding: 5px;
    }
}

.slider > button:first-child{
    margin-left: auto;
}

.slider > button:last-child{
    margin-right: 20px;
}

.slider > .active{
    transition: color 0.3s;
    color: white;
}
